In [1]:
#Q1. Set the variables test1 to the string 'This is a test of the emergency text system,'and save test1 to a file nameed  
#    test.txt

In [2]:
test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

In [3]:
!type test.txt

This is a test of the emergency text system,

In [4]:
#Q2. Read the contents of the file test.txt into variable test2. Is there a difference between test 1 and test 2?

In [5]:
with open('test.txt','r') as file:
    test2 = file.read()
print(test2)
print(test1==test2)

This is a test of the emergency text system,
True

In [6]:
#Q3. Create a CSV file called books.csv by using these lines:
#    title,author,year
#    The Weirdstone of Brisingamen,Alan Garner,1960
#    Perdido Street Station ,China Mieville,2000
#    Thud!,Terry Pratchett,2005
#    The Spellman Files,Lisa Lutz,2007
#    Small Gods,Terry Pratchett,1992

In [7]:
csv = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station ,China Mieville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''
with open ('books.csv','w') as file:
    file.write(csv)

In [8]:
#Q4. Use the  sqlite3 module to create a SQLite database called books.db,and a table called books with these fields: title(text)
#    author(text), and year(integer)

In [9]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books(title text, author text, year integer)")
db.commit()
db.close()

In [10]:
#Q5. Read books.csv and insert its data into books table.

In [11]:
import sqlite3
import csv
conn = sqlite3.connect("books.db")
cursor = conn.cursor()
with open("books.csv",'r') as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute('INSERT INTO books VALUES (?,?,?)',(book['title'],book['author'],book['year']))
conn.commit()
conn.close()

In [12]:
#Q6. Select and print the title column from the books table in alphabetical order.

In [13]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute('SELECT title FROM books ORDER BY title ASC')
for i in output:
    print(i[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [14]:
#Q7. From the books table, select and print all columns in the order of publication.

In [15]:
import sqlalchemy
conn = sqlalchemy.create_engine("sqlite:///books.db")
conn

Engine(sqlite:///books.db)